<nav class="navbar navbar-expand-lg bg-white  custom-header">
    <div class="container">
        <div>
            
            {{#link-to 'index' class="navbar-brand custom-header-link"}}
                AppName
            {{/link-to}}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    {{#link-to 'index' id="home-link" class="nav-link header-link custom-header-link"}}
                        {{#if home}}
                            <span class="custom-header-link-open">Home</span>
                        {{else}}
                            Home
                        {{/if}}
                    {{/link-to}}
                </li>
                <li class="nav-item">
                    {{#link-to 'restaurants' id="restaurants-link" class="nav-link header-link custom-header-link"}}
                        {{#if restaurants}}
                            <span class="custom-header-link-open">Restaurants</span>
                        {{else}}
                            Restaurants
                        {{/if}}
                    {{/link-to}}
                </li>
                <li class="nav-item">
                    {{#link-to 'login' id="login-link" class="nav-link header-link custom-header-link"}}
                        {{#if login}}
                            <span class="custom-header-link-open">Login</span>
                        {{else}}
                            Login
                        {{/if}}
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</nav>

{{yield}}