<div class="row menu-item-container">
    <div class="col-sm-1 menu-item-opacity">
        {{index}}.
    </div>
    <div class="col-sm-3">
        <select class="table-item-persons-select" onchange={{action 'setNumberOfPeople' value="target.value" }}>>
            <option value=2 selected>Table for two persons</option>
            <option value=3>Table for three persons</option>
            <option value=4>Table for four persons</option>
            <option value=5>Table for five persons</option>
            <option value=6>Table for six persons</option>
        </select>
    </div>

    <div class="col-sm-2">
         {{input class="table-item-ammount" type="number" placeholder="Ammount" value=ammount}}
    </div>
</div>
