{{header-component user=model.currentUser}}
<div class="container">
    <div class="row">
        <div class="col-md complete-reservation-title">
            <h1>Complete your reservation</h1>
        </div>
    </div>

    <div class="row single-restaurant-content-box">
        <div class="col-md">
            <div class="single-restaurant-content-label">Reservation Details</div>

            <img class="img-fluid complete-reservation-image" src="https://drive.google.com/uc?export=view&id=0B2kerAVz5owdWEo1dEY1U1I0TXM" alt="single restaurant img">
        </div>

        <div class="col-md-4 complete-reservation-counter">
                <span class="fa fa-clock-o no-padding" > You have 2:54 minutes to complete reservation</span>
        </div>
    </div>
    
</div>