{{header-component}}
<div class="container">
    <div class="row">
        <div class="col-md complete-reservation-title">
            <h1>Complete your reservation</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md single-restaurant-content-box">
            <div class="single-restaurant-content-label">Reservation Details</div>
        </div>
    </div>

</div>