{{header-component home=true}}
<div>
    {{outlet}}
    <div class="container">
        <div class="row">
            <div class="col">
                {{#if model.currentUser}}
                    current user: 
                    {{model.currentUser.phone}}
                {{else}}
                    not logged in
                 
                {{/if}}
            </div>
        </div>
    </div>
</div>
