<div>
    {{header-component home=true}}

    <div class="col-md landing-header not-transparent">

        <div class="landing-header-label">
            <div class="free-reservation-label">Make a free reservation</div>
            <div class="number-of-restaurants-label">Choose your table from 757 restaurants near you</div>
        </div>
        <img class="img-fluid" src="https://drive.google.com/uc?export=view&id=0B2kerAVz5owdQkFEeUJPb0FHajA">
    </div>
    <div class="container landing-popular-restaurants">
        <div class="row">
            <div class="col-md">
                <div class="landing-popular-restaurants-label">Popular for Lunch Today</div>
            </div>
        </div>
        <div class="row">

            {{#if model.popularRestaurants}} 
                {{#each model.popularRestaurants as |restaurant|}}
                        <div class="col">
                            {{restaurant-tile restaurant=restaurant}}
                        </div>
                {{/each}} 
            {{/if}}

        </div>

    </div>


    
</div>