{{header-component home=true}}

    <div class="col-md landing-header not-transparent">

        <div class="landing-header-label">

        </div>
        <img class="img-fluid" src="{{model.restaurant.coverFileName}}">
    </div>
    <h1>
        {{model.restaurant.restaurantName}}
    </h1>
{{outlet}}