<div class="container">
    <div class="row">
        <ul class="nav nav-tabs add-restaurant-tabs" role="tablist">
            <li class="nav-item">
                <a class="active" data-toggle="tab" href="#basicdetails" role="tab">Basic Details</a>
            </li>
            <li class="nav-item">
                <a class="" data-toggle="tab" href="#menu" role="tab">Menu</a>
            </li>
            <li class="nav-item">
                <a class="" data-toggle="tab" href="#gallery" role="tab">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="" data-toggle="tab" href="#tables" role="tab">Tables</a>
            </li>
        </ul>
    </div>


    <div class="tab-content row add-restaurant-content">
        <div class="tab-pane active" id="basicdetails" role="tabpanel">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="add-restaurant-section-title">
                            Add Logo
                        </div>

                        <div class="restaurant-input-box">

                        </div>
                    </div>
                    <div class="col-md-6 add-restaurant-section-title">
                        <div class="add-restaurant-section-title">
                            Add Cover Photo
                        </div>

                        <div class="restaurant-input-box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="add-restaurant-section-title">
                            Name
                        </div>
                        <div class="restaurant-input-box">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="add-restaurant-section-title">
                            Category
                        </div>
                        <div class="restaurant-input-box">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="add-restaurant-section-title">
                            Location
                        </div>
                        <div class="restaurant-input-box">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="add-restaurant-section-title">
                            Description
                        </div>
                        <div class="restaurant-input-box">

                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <button>
                            Add Restaurant
                        </button>
                        <button>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="menu" role="tabpanel">
            Menu
        </div>

        <div class="tab-pane" id="gallery" role="tabpanel">
            Gallery
        </div>

        <div class="tab-pane" id="tables" role="tabpanel">
            Tables
        </div>
    </div>

</div>