@import 'admin-dashboard';
@import 'admin-restaurants';

.admin-menu {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    height: 46px;
    margin-top: -50px;
    align-items: center;
}

.admin-menu-item {
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    color: #B5B5B5;
}

.admin-menu-item:checked + label{
    color: #fd6f60;
}

.admin-table {
    border-collapse: separate;
    width: 100%;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}

.admin-table tr {
    background-color: #ffffff;
    margin: 3px 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    
}

.admin-table td,th {
    min-height: 40px;
    padding: 10px 10px;
}

.admin-table-action {
    width: 15%;
    text-align: center;
    padding: 0;
}

.admin-table thead {
    color: #B5B5B5;
}

.admin-table-action button {
    border: none;
    border-radius: 2px;
    background-color: #fd6f60;
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 80%;
    min-height: 30px;
    padding: 0;
    margin: 0;
}