
@import "ember-cli-bootstrap-4/bootstrap";

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

@import 'pagination';

@import 'restaurants';

@import 'complete-reservation';

@import 'rating-modal';

@import 'restaurant';

@import 'rating-components';

@import 'restaurant-tile';

@import 'landing';

@import 'header-component';

@import 'footer-component';

@import 'search-bar';

@import 'register';

@import 'login';

@import 'admin';

@import 'google-maps';

/*
    global
*/

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-height: 100vh;
}

html, body {
  background-color: #F9F9F9;
}

.background-orange-pink {
  background-color: #fd6f60;
  color: white;
}

.no-decoration a {
  text-decoration: none;
}

.display-none {
  display: none;
}
 
.active-button {
  color: #fd6f60;
}

/*
  form-error-text
*/
.form-error-text {
  color: red;
}