
@import "ember-cli-bootstrap-4/bootstrap";

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

/*
    global
*/
/*
.app-content-class {
  margin-top: 85px;
  background-color: #F9F9F9;
  padding-top: 89px;
  height: 100%;
  min-height: 100%;

}
*/
html,
body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  height: 100%;
  min-height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

#body {
  margin-top: 85px;
  padding-top: 89px;
  padding:10px;
  padding-bottom:150px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:150px;   /* Height of the footer */

}


/*
    header component
*/

.custom-header {
    height: 85px;
}

.custom-header-link {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.custom-header-list {
    font-size: 16px;
    text-align: right;
    
}

.custom-header-app-name {
    font-size: 20px;
    text-align: center;
}

.custom-header-link:active {
    color: rgb(253, 111, 96);
}

.custom-header-link:hover {
    color: rgb(253, 111, 96);
}

.custom-header-link:visited {
    text-decoration: none;
}

/*
    footer
*/
.footer-left-side {
    opacity: 0.4;
    color: #ffffff;
    float: left;
  }

  .copyright-par {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .footer-list {
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    padding-right: 5px;
  }

  .footer-list-item {
    display: inline;
    font-size: 16px;
    font-weight: 600;
  }

  .footer-list-item-link {
    color: white;
  }
  .footer-list-item-link:hover {
    color: rgb(253, 111, 96);
  }

  .footer-right-side {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    color: var(--white-three);
    float: right;
  }

  .footer-container {
    height: 150px;
    background-color: #131d24;
    width: 100%;
    padding-top: 50px;
  }

  /*
    register
  */

  .create-acc-label {
    height: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #131d24;
  }

  .create-acc-login-link {
    height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    color: #fd6f60;
    float: right;
  }

  .create-acc-submit {
    height: 53px;
    border-radius: 3px;
    background-color: #fd6f60;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
  }

  .create-acc-input {
    border-radius: 2px;
    height: 53px;
    border: solid 1px #e1e1e1;
  }

  .create-acc-dropdown {
    margin: 0;
    
    font-size: 16px;
    font-weight: 600;
    color: #131d24;
  }

  .create-acc-dropdown-left-col {
    padding-right: 0;
  }

  
  .create-acc-dropdown-right-col {
    padding-left: 0;
  }

  /*
    Login
  */
  .login-label {
    height: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #131d24;
  }

  .login-create-acc-link {
    height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    color: #fd6f60;
    float: right;
  }

  .login-submit {
    height: 53px;
    border-radius: 3px;
    background-color: #fd6f60;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
  }

  .login-input {
    border-radius: 2px;
    height: 53px;
    border: solid 1px #e1e1e1;
  }