.pagination-container {
    text-align: center;
  }
  
  .pagination-list {
    display: inline-block;
    list-style: none;
  }
  
  .pagination-list > :first-child button, .pagination-list > :last-child button {
    background: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: rgba(46, 57, 63, 0.6);
    border: none;
  }
  
  .pagination-item {
    display: inline-block;
    padding: 8px;
  }
  
  .pagination-item button {
    width: auto;
    height: 32px;
    min-width: 32px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #eaeaee;
  }
  
  .pagination-item button.selected {
    background-color: #fd6f60;
    color: #ffffff;
  }