
  .create-acc-label {
    height: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #131d24;
  }

  .create-acc-login-link {
    height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    color: #fd6f60;
    float: right;
  }

  .create-acc-submit {
    height: 53px;
    border-radius: 3px;
    background-color: #fd6f60;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
  }

  .create-acc-input {
    border-radius: 2px;
    height: 53px;
    border: solid 1px #e1e1e1;
  }

  .create-acc-dropdown {
    margin: 0;
    
    font-size: 16px;
    font-weight: 600;
    color: #131d24;
  }

  .create-acc-dropdown-left-col {
    padding-right: 0;
  }

  
  .create-acc-dropdown-right-col {
    padding-left: 0;
  }