
.table-item-persons-select {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #e6e8eb;
    opacity: 0.4;
    width: 240px;
    height: 30px;
    padding: 3px 4px;
}

.table-item-ammount {
    border-radius: 3px;
    width: 106px;
    height: 30px;
    background-color: #ffffff;
    border: solid 1px #e6e8eb;
    padding: 3px 4px;
}