<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Restaurants</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


        <meta name="restaurants/config/environment" content="%7B%22modulePrefix%22%3A%22restaurants%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22restaurants%22%2C%22version%22%3A%220.0.0+f2baf7d6%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

        <link integrity="" rel="stylesheet" href="/assets/vendor-c79b11476f99059391f5d093d2b1c7ea.css">
        <link integrity="" rel="stylesheet" href="/assets/restaurants-c57bdca2b0ff2c8839cc36199ffb6a14.css">


    </head>
    <body>


        <script src="/assets/vendor-8abc65ac14caa8286ef05b707b5c7562.js" integrity="sha256-fEGNdScwCA19Nn7z4m14pfWYKl2FE4DQs05zWTzVEak= sha512-iSCfvp0TJeunw5lpyFStP94KggPsefsrIP9ZBoo3RHl4wJVBNJ7+Oj+YtqZwdkry10lp8O2EMXCNSBFNry/YBA==" ></script>
        <script src="/assets/restaurants-0d630b8f0a9c05621039ab36b07f301c.js" integrity="sha256-B9SECs0epy3rTw0Syxu3cnhN1zulwhK3bmll4v0HMNY= sha512-9Vn5CfINxutURcpeBuXbE2OY+taxVppmroAcqMoFCa+npShiP9Nc+nX9wIZVDpiMMIyf1ONkOECGxJgQik0y7w==" ></script>


    </body>
</html>
