<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Restaurants</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


        <meta name="restaurants/config/environment" content="%7B%22modulePrefix%22%3A%22restaurants%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22restaurants%22%2C%22version%22%3A%220.0.0+56fb0d8d%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

        <link integrity="" rel="stylesheet" href="/assets/vendor-c79b11476f99059391f5d093d2b1c7ea.css">
        <link integrity="" rel="stylesheet" href="/assets/restaurants-327e0ee3fbcd51b22111000477f33c38.css">


    </head>
    <body>


        <script src="/assets/vendor-b75da87fc681357080938b86156274ae.js" integrity="sha256-qkiFjrUMfsmlU4rxZ77WoV1gYuwdDTkcj3GdFeXSaJ8= sha512-A/jVN1ZpysKzb8eGRriS3sreWTA0XuLJ8lFNJ/5HHuq6bEbLB7hdNCxcRlirk/xTbl/qJbqsG8s1RIzHZe8YWQ==" ></script>
        <script src="/assets/restaurants-21bd099bc2e372b350d831ad7c5f154a.js" integrity="sha256-fxlGEJUptjDSfS5Ep7xEIFs1qBzd2X+anlH2Gy/Nc44= sha512-nwPbTrdVUnGk21f/OUo/dTbg2ze3PJgQ2a+9455PmllDody4OdXC0Dp/59WxSHoujAgGe9+WD71OybGMKHGi7g==" ></script>


    </body>
</html>
