<div class="container">
    <div class="row">
        {{#if model.counters}}
            <div class="col-md">
                <div class="admin-counter-box">
                    <div class="counters">
                        <h1>{{model.counters.restaurantsNumber}}</h1>
                        <p>Restaurants</p>
                    </div>
                     {{#link-to 'admin.restaurants.addRestaurant'}}
                    <button>
                        Add restaurant
                    </button>
                    {{/link-to}}
                </div>
                
            </div>

            <div class="col-md">
                <div class="admin-counter-box">
                    <div class="counters">
                        <h1>{{model.counters.locationsNumber}}</h1>
                        <p>Locations</p>
                    </div>
                    <button>Add Location</button>
                </div>
            </div>

            <div class="col-md">
                <div class="admin-counter-box">
                    <div class="counters">
                        <h1>{{model.counters.usersNumber}}</h1>
                        <p>Users</p>
                    </div>
                    <button>Add User</button>
                </div>

            </div>
        {{/if}}
    </div>
</div>